django==2.2.18
celery==5.2.2
django-celery-results==1.0.1
django-crispy-forms==1.7.2
simplejson==3.16
opencv-python==4.4.0.44
PyGObject==3.30.1
reportlab==3.5.9
django-guardian==2.1
psycopg2-binary==2.8.6
