django==2.2.18
celery==4.2.1
django-celery-results==2.4.0
django-crispy-forms==1.7.2
simplejson==3.16
opencv-python==4.4.0.44
PyGObject==3.30.1
reportlab==3.5.9
django-guardian==2.1
psycopg2-binary==2.8.6
