  <!-- Templates -->

  <script type="text/template" id="qhead-template">
    <div class="qobject qhead">
      <input class="heading" type="text" value="<%- text %>" />
    </div>
  </script>

  <script type="text/template" id="qmark-template">
    <div class="qobject qhead">
      <input class="heading" type="text" value="<%- text %>" />
      <a class="delete" />
    </div>
  </script>

  <script type="text/template" id="qmarkgroup-template">
    <div class="qobject qhead">
      <input class="heading" type="text" value="<%- text %>" />
      <a class="delete" />
    </div>
  </script>

  <script type="text/template" id="qmarkline-template">
    <div class="qobject qhead">
      <input class="heading" type="text" value="<%- text %>" />
      <a class="delete" />
    </div>
  </script>

  <script type="text/template" id="qchoice-template">
    <div class="qobject qhead">
      <input class="heading" type="text" value="<%- text %>" />
      <a class="delete" />
    </div>
  </script>

  <script type="text/template" id="qchoicegroup-template">
    <div class="qobject qhead">
      <input class="heading" type="text" value="<%- text %>" />
      <a class="delete" />
    </div>
  </script>

  <script type="text/template" id="qchoiceline-template">
    <div class="qobject qhead">
      <input class="heading" type="text" value="<%- text %>" />
      <a class="delete" />
    </div>
  </script>

  <script type="text/template" id="achoice-template">
    <div class="qobject qhead">
      <input class="heading" type="text" value="<%- text %>" />
      <a class="delete" />
    </div>
  </script>


