<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="{{ STATIC_URL }}/sdaps_ctl/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/sdaps_ctl/json2.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/sdaps_ctl/underscore.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/sdaps_ctl/backbone.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/sdaps_ctl/backbone-relational.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/sdaps_ctl/cocktail.js"></script>

  <script type="text/javascript" src="{{ STATIC_URL }}/sdaps_ctl/pdf.js"></script>

  <!-- And custom scripts -->
  <script type="text/javascript" src="{{ STATIC_URL }}/sdaps_ctl/edit_questionnaire.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}/sdaps_ctl/pdf_preview.js"></script>
  <script type="text/javascript">
    $(function(){
      /* For the PDFJS worker (isn't there a nicer way to do this? */
      PDFJS.workerSrc = '{{ STATIC_URL }}/sdaps_ctl/pdf.js';

      /* Hook up the preview widget. */
      var preview = new PDFPreview.Preview($('#preview'), '{% url "questionnaire_download" survey.id %}');
      var editor = new QEditor.Editor($('#editor'), '{% url "questionnaire_edit" survey.id %}');
    });
  </script>
</head>

<h2>{{ survey.name }}</h2>

<p>
Title: {{survey.title}}
</p>
<p>
Author: {{survey.author}}
</p>


<div id="editor" style="border:1px solid red; width: 48%; height: 80%; overflow: scroll; float: left;">
  <ul class="qobjectlist">
    <!-- The view goes here! -->
  </ul>
</div>

<div id="preview" style="border:1px solid green; width: 48%; height: 80%; float: right;">
  <div>
    <button id="prev">Previous</button>
    <button id="next">Next</button>
    &nbsp; &nbsp;
    <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
  </div>
  <div id="preview-container" style="overflow: scroll; min-height: 100%; max-height: 100%" >
    <canvas class="pdfcanvas"/>
  </div>
</div>

  {% include "sdaps_ctl/edit_questionnaire_template.html" %}

</html>

