{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="alert alert-danger col">
        <h2 class="alert-heading">Delete project "{{ survey.name }}"</h2>
        <lead>"{{survey.title}}" by "{{survey.author}}"</lead>
    </div>
</div>
<div class="row">
    <div class="col pb-5">
        Are you sure you want to delete this survey? This operation is permanent!
    </div>
</div>
<div class="row">
  <div class="col">
      <form action="{% url "survey_delete" survey.id %}" class="form-inline" method="post">
        {% csrf_token %}
        <label class="col-form-label my-1 mr-2 {% if yes_missing %}text-danger{% endif %}">If you are sure, enter "YES" into the field: </label>
          <input class="form-control my-1 mr-2" type="text" name="delete" />{% if yes_missing %}{% endif %}<br />
          <button class="btn btn-danger my-1 mr-2" type="submit"><i class="la la-trash"></i> Delete Survey permanently</button>
      </form>
  </div>
</div>
{% endblock %}
