{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-12">
        <a type="button" class="btn btn-primary" href="{% url "survey_overview" survey.slug %}"><i class="la la-arrow-left"></i> Back to Survey Overview</a><br><br>
	    {% if form.errors %}
	       {% for field in form %}
		   {% for error in field.errors %} 
		      <div class="alert alert-danger">
			   <strong>{{ error|escape }}</strong>
		      </div>
		   {% endfor %}
	       {% endfor %}
	    {% endif %}
        <h2>Edit Details and Questionnaire:</h2>
        <h2>{{ survey.name }} <a class="btn btn-secondary btn-sm" data-toggle="collapse" href="#collapseSurveyDetails" role="button" aria-expanded="false" aria-controls="collapseSurveyDetails" title="Edit Survey Detail"><i class="la la-pencil"></i> Edit</a></h2>
        <div class="row collapse multi-collapse" id="collapseSurveyDetails">
            <div class="col-12">
                <form method="post" action="{% url "questionnaire_edit" slug=survey.slug %}" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
		            {% crispy form %}
       			</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div id="likert-editor" class="col-12" />
</div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static "sdaps_ctl/likert_editor.js" %}"></script>
  <script type="text/javascript">
    $(function(){
      /* For the PDFJS worker (isn't there a nicer way to do this? */
      PDFJS.workerSrc = '{% static "sdaps_ctl/pdf.worker.js" %}';

      /* Hook up the preview widget. */
      var preview = new PDFPreview.Preview($('#preview'), '{% url "questionnaire_download" survey.slug %}');
      /* And attach to window for editor. */
      window.preview = preview;
    });

  </script>

{% endblock %}
