{% extends "base.html" %}

{% block content %}

<h2>{{ survey.name }}</h2>

<p>
Title: {{survey.title}}
</p>
<p>
Author: {{survey.author}}
</p>

{% if survey.busy %}
<p style="font-weight: bold">
  There are pending tasks for this survey. Please wait a while and reload this page at a later point (press F5 manually for now).
</p>
{% else %}
{% if survey.initialized %}
<p>
  This survey is already initialized. You may not modify it any more. You can now upload
  scans and correct the result (once implemented).
</p>
{% else %}
<p>
  The questionnaire for this survey is still being designed. Please finish the
  questionnaire, and initialize the project.
</p>
{% endif %}

<ul>
  <li><a href="{% url 'questionnaire_tex_download' survey.id %}">Download LaTeX questionnaire</a></li>
{% if may_edit and not survey.initialized %}
  <li><a href="{% url 'questionnaire_edit' survey.id %}">Edit the questionnaire</a></li>
{% endif %}
{% if may_change and not survey.initialized %}
  <li>
    <form method="POST" action="{% url 'survey_build' survey.id %}">
      {% csrf_token %}
      <input type="submit" value="Setup survey"></input> (you cannot modify the questionnaire after this step!)
    </form>
  </li>
{% endif %}
{% if may_change and survey.initialized %}
  <li>
    <form method="POST" action="{% url 'survey_report' survey.id %}">
      {% csrf_token %}
      <input type="submit" value="Generate Report"></input> Once it is generated, download <a href="{% url 'report_download' survey.id %}">the report</a>.
    </form>
  </li>
  <li><a href="{% url 'csv_download' survey.id %}">Download CSV with the result.</a></li>
{% endif %}
{% if may_review and survey.initialized %}
  <li><a href="{% url 'survey_review' survey.id %}">Review the results.</a></li>
{% endif %}
{% if survey.initialized %}
  <li><a href="{% url 'questionnaire_download' survey.id %}">Download printable questionnaire.</a></li>
{% endif %}
{% if may_upload and survey.initialized %}
  <li><a href="{% url 'survey_upload' survey.id %}">Upload images for this survey</a></li>
{% endif %}
{% if may_delete %}
  <li><a href="{% url 'survey_delete' survey.id %}">Delete this project.</a></li>
{% endif %}
</ul>
</p>
</p>
{% endif %}

{% endblock %}
