{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "sdaps_ctl/css/jquery.fileupload.css" %}">
<link rel="stylesheet" href="{% static "sdaps_ctl/css/jquery.fileupload-ui.css" %}">
<style>
/* Hide Angular JS elements before initializing */
.ng-cloak {
    display: none;
}
</style>
{% endblock %}

{% block content %}
<div class="row mb-4">
    <div class="col">
        <a type="button" class="btn btn-primary" href="{% url "survey_overview" survey.slug %}"><i class="la la-arrow-left"></i> Back to Survey Overview</a><br><br>
        <h2>Upload Scans for {{ survey.name }}</h2>
        <div class="lead">"{{ survey.title }}" by "{{ survey.author }}"</div>
    </div>
</div>
{% include "file_upload_ui.html" %}
<div class="row">
    <div class="col-9"></div>
    <div class="col-3">
        <form method="POST" action="{% url 'survey_add_scans' survey.slug %}">
            {% csrf_token %}
            <button class="btn btn-success" type="submit"><i class="la la-rocket"></i> Add uploaded files to project</button>
        </form>
    </div>
</div>
{% endblock %}


{% block scripts %}

<!-- And custom scripts -->

<script type="text/javascript" src="{% static "sdaps_ctl/jquery/jquery.min.js" %}" /></script>
<script type="text/javascript" src="{% static "sdaps_ctl/jquery/jquery.ui.widget.js" %}"></script>
<script type="text/javascript" src="{% static "sdaps_ctl/jquery/jquery.iframe-transport.js" %}"></script>

<script type="text/javascript" src="{% static "sdaps_ctl/jquery/jquery.fileupload.js" %}"></script>
<script type="text/javascript" src="{% static "sdaps_ctl/jquery/jquery.fileupload-process.js" %}"></script>
<script type="text/javascript" src="{% static "sdaps_ctl/jquery/jquery.fileupload-validate.js" %}"></script>

<script type="text/javascript" src="{% static "sdaps_ctl/load-image.all.min.js" %}"></script>

<script type="text/javascript" src="{% static "sdaps_ctl/jquery/jquery.fileupload-image.js" %}"></script>

<script type="text/javascript" src="{% static "sdaps_ctl/angular.min.js" %}" /></script>
<script type="text/javascript" src="{% static "sdaps_ctl/jquery/jquery.fileupload-angular.js" %}"></script>

<script type="text/javascript">
    /* Need to set some global vars here for survey_upload.js. */
    window.url_add_scans = "{% url "survey_add_scans" survey.slug %}";
    window.url_upload_files = "{% url "survey_upload_scans" survey.slug %}";

</script>
<script type="text/javascript" src="{% static "sdaps_ctl/survey_upload.js" %}"></script>
<script type="text/javascript" src="{% static "sdaps_ctl/jquery/jquery_fix_csrf.js" %}"></script>


{% endblock %}

